div(ng-controller='Issues')
  h2 Issues
  div
    ul
      li.issue(ng-repeat='issue in issues')
        button(ng-click='remove(issue)')
        a(ng-href='/issues/{{issue.id}}') {{issue.title}}
        |  | {{issue.ips.length || 0}} IPs
